<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="NHSApp">
  <test thread-count="5" name="MaintainaceTest">
    <classes>
      <class name="tests.NHSAppTest"/>
      <class name="tests.TestCases"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
